@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

:root {
  --turquoise: #14a998;
  --light-brown: #f1e8d9;
  --brown: #d7c094;
  --orange: #ce822f;
  --background: #fffbf4;
  --foreground: #000000;
}

@layer base {
  body {
    font-family: 'DM Sans', sans-serif;
    background: var(--background);
    color: var(--foreground);
  }
}

@theme {
  --color-turquoise: var(--turquoise);
  --color-light-brown: var(--light-brown);
  --color-brown: var(--brown);
  --color-orange: var(--orange);
}

@layer utilities {
  .logo-black {
    @apply brightness-[100%] contrast-[101%] hue-rotate-[227deg] invert-0 saturate-[6%] sepia-0;
  }

  .logo-white {
    @apply brightness-[104%] contrast-[101%] hue-rotate-[270deg] invert-100 saturate-0 sepia-[32%];
  }
}
